lib/assets/assert.xsd

<?xml version="1.0"?>
<!-- example from https://mukulgandhi.blogspot.com/2020/02/xml-schema-11-use-cases-with-and.html -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="X">
       <xs:complexType>
          <xs:choice>
             <xs:element name="a" type="xs:string"/>
             <xs:element name="b" type="xs:string"/>
             <xs:element name="c" type="xs:string"/>
          </xs:choice>
       </xs:complexType>
    </xs:element>
</xs:schema>